@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Grandstander', cursive;
    background-image: url("./image/AcceptableImpureAxisdeer-size_restricted.gif");
    background-size: 1700px;
    text-align: center;
}

#rainy {
    font-size: 30px;
    background-color: blue;
    margin: auto;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    color: white;
}

#rain {
    display: none;
    color: red;
    padding: 50px;
}

#hot {
    color: brown;
    margin-top: 250px;
}

#para {
    text-align: center;
    font-size: x-large;
    display: none;
    color: darkslateblue;
}

#summers {
    text-align: center;
    font-size: x-large;
    color: orangered;
}